<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>
    <style>

    </style>
    <link href="__HOME_CSS__/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
   <div>
       <div>
           <form action="/index.php/index/index/get" method="post">
               <div>
                   <label for="one">输入当前城市:</label>
                   <br/>
                   <input type="text" name="one" id="one">
               </div>
               <div>
                   <label for="two">输入地点信息:(一行一个)</label>
                   <br/>
                   <textarea name="two" style="width: 500px;height: 300px" id="two"></textarea>

               </div>

               <button type="button" class="pushdata">提交</button>
           </form>
       </div>

   </div>
   <div id="container" class="container">
   </div>


   <script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
   <script src="http://webapi.amap.com/maps?v=1.4.2&key=1852ab96a1ef3461676903e5c360aaf5&plugin=AMap.Geocoder"></script>
   <script src="http://webapi.amap.com/loca?key=1852ab96a1ef3461676903e5c360aaf5"></script>
   <script src="http://a.amap.com/Loca/static/mock/districts.js"></script>
   <script src="__HOME_JS__/common.js"></script>
</body>
</html>